body{
    font-family: 'Poppins', sans-serif;
    pading: 0;
    margin: 0;
}
h1{
    font-size: 46px;

}

.flexible-section{
    display: flex;
    font-size: 20px;
    text-align: justify;
    padding-bottom: 100px;
}
h4{
    font-size: 32px;
}
.my-name{
    color: orange;
}
.about-self{
    width: 50%
}
.text-content{
    margin: 40px 20px 10px 30px;
}
.about-self img{
    width: 80%;
    float: right;
    margin: 10% 10%;
}
.link-button{
    text-decoration: none;
    background-origin: border-box;
    
    background-image: linear-gradient (red,blue);
    padding: 10px 40px;
    border-radius: 5px;
    color: #e3eaf0;
    font-weight: 700;
}
.background{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
}
.dream-bg{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.flexible{
    border-radius: 8px;
    border: left 10px;
    display: flex;

}

.shedow{
    box-shadow: 10px 10px 30px blueviolet;
    border-radius: 5px;
    width: 40%;
    padding: 2%;
    margin: 8%;
    border-left: 10px solid;
}
.experiences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#developer{
    border-image: linear-gradient (red, blue);
}